html {
    position: relative;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

body > header {
    height: 90px;
    margin: 0;
}

body > header > nav > ol {
    position: absolute;;
    list-style: none;
    padding: 0;
    display: block;
    top: 30px;
    right: 20px;
}

body > header > nav > ol > li {
    display: inline;
    padding: 15px;
    font-size: 20px;
    font-family: AlHor;
}

body > aside {
    width: 300px;
    background: purple;
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0;
}

body > aside > ol {
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    padding-top: 30px;
    color: white;
}

body > aside > ol > li {
    display: block;
    padding: 10px;
    font-size: 20px;
    font-family: AlHor;
}

body > div {
    position: relative;
    left: 300px;
    right: 0;
    bottom: 100px;
    width: calc(100% - 305px);
}

div > section {
    position: relative;
    top: 105px;
    left: 6px;
    margin-bottom: 100px;

}

body > div > section > img {
    display: inline;
    border: 1px solid green;
    width: calc((100vw - 330px) / 3);

}


body > div > p {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    top: 40px;
}

span {
    font-weight: bold;
}

footer {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: rgb(70, 66, 66);

}

footer > span {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: fit-content;
    width: fit-content;
    color: white;
    margin: auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}