body>div{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(3, 1fr);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

body>div>div{
border: 1px solid black;
}

body>div>div:first-child{
    background: red;
}

body>div>div:nth-child(2){
    background: green;
}

body>div>div:nth-child(3){
    background: orangered;
}

body>div>div:nth-child(4){
    background: purple;
}

body>div>div:nth-child(5){
    background: deeppink;
}

body>div>div:nth-child(6){
    background: blue;
}

body>div>div:nth-child(7){
    background: brown;
}
body>div>div:nth-child(8){
    background: lightpink;
}
body>div>div:nth-child(9){
    background: rebeccapurple;
}
body>div>div:nth-child(10){
    background: yellow;
}
body>div>div:nth-child(11){
    background: darkslategrey;
}
body>div>div:last-child{
    background: lightblue;
}
